services:
  web:
    build: .
    command: ["node", "server.js"]
    environment:
      - NODE_ENV=production
      - NEXT_TELEMETRY_DISABLED=1
      - NEXT_PUBLIC_SITE_URL=${NEXT_PUBLIC_SITE_URL}
      - NEXT_PUBLIC_SUPABASE_URL=${NEXT_PUBLIC_SUPABASE_URL}
      - NEXT_PUBLIC_SUPABASE_ANON_KEY=${NEXT_PUBLIC_SUPABASE_ANON_KEY}
      - NEXT_PUBLIC_SUPABASE_SERVICE_ROLE_KEY=${NEXT_PUBLIC_SUPABASE_SERVICE_ROLE_KEY}
      - ADMIN_EMAILS=${ADMIN_EMAILS}
      - GOTRUE_EXTERNAL_GOOGLE_ENABLED=${GOTRUE_EXTERNAL_GOOGLE_ENABLED}
      - GOTRUE_EXTERNAL_GOOGLE_CLIENT_ID=${GOTRUE_EXTERNAL_GOOGLE_CLIENT_ID}
      - GOTRUE_EXTERNAL_GOOGLE_SECRET=${GOTRUE_EXTERNAL_GOOGLE_SECRET}
      - GOTRUE_EXTERNAL_GOOGLE_REDIRECT_URI=${GOTRUE_EXTERNAL_GOOGLE_REDIRECT_URI}
    ports:
      - "3000:3000"
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.website.entrypoints=web,websecure
      - traefik.http.services.website.loadbalancer.server.port=3000
      - traefik.http.routers.website.rule=Host(`silasbeckmann.de`)
      - traefik.http.routers.website.tls=true
      - traefik.docker.network=traefik_proxy-net
      - traefik.http.middlewares.website-security.headers.SSLRedirect=true
      - traefik.http.middlewares.website-security.headers.STSSeconds=315360000
      - traefik.http.middlewares.website-security.headers.browserXSSFilter=true
      - traefik.http.middlewares.website-security.headers.contentTypeNosniff=true
      - traefik.http.middlewares.website-security.headers.forceSTSHeader=true
      - traefik.http.middlewares.website-security.headers.SSLHost=${DOMAIN_NAME:-silasbeckmann.de}
      - traefik.http.middlewares.website-security.headers.STSIncludeSubdomains=true
      - traefik.http.middlewares.website-security.headers.STSPreload=true
      - traefik.http.middlewares.website-security.headers.frameDeny=true
      # RATE LIMITING
      - traefik.http.middlewares.website-ratelimit.ratelimit.average=100
      - traefik.http.middlewares.website-ratelimit.ratelimit.burst=50

      - traefik.http.routers.website.middlewares=website-security@docker,website-ratelimit@docker

    networks:
      - traefik_proxy-net

networks:
  traefik_proxy-net:
    external: true
